RewriteEngine On

RewriteRule ^([0-9]+)$ index.php?id=$1


RewriteRule ^source/Anonces/([0-9]+)$ source/Anonces.php?id=$1
RewriteRule ^source/News/([0-9]+)$ source/News.php?id=$1
RewriteRule ^source/BD/([0-9]+)$ source/BD.php?id=$1
RewriteRule ^source/Mb_bureau/([0-9]+)$ source/Mb_bureau.php?id=$1
RewriteRule ^source/president/([0-9]+)$ source/president.php?id=$1
RewriteRule ^source/gouverneur/([0-9]+)$ source/gouverneur.php?id=$1
RewriteRule ^source/district/code/(.+)-([0-9]+)$ source/district.php?code=$1&id=$2


RewriteRule ^acces/espaceAdmin/$ acces/espaceAdmin.php
RewriteRule ^acces/espaceAdmin/([a-z-]+)/([0-9]+)$ acces/espaceAdmin.php?tp=$1&id=$2
